:root{
scroll-behavior: smooth; 
font-size: 16px;
// fonts
--font-main: 'Roboto', sans-serif;
//text
--color-main: black;
--color-secondary: black;
// colors
--color-bg: #00ccff57;
--color-secondary: #999;
--color-gradient: linear-gradient(45deg, #00ff99, #ff00cc, #00ccff, #ff6600);
}
