@use '../core/variables' as var;
@use '../core/reset' as reset;
.headerImg {
  animation: moveHeader 5s linear infinite;
}

@keyframes moveHeader {
  0% { transform: translateX(-100px); }
  50% { transform: translateX(100px); } /* Se mueve a la derecha */
  100% { transform: translateX(-100px); } /* Regresa */
}
header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.navUl {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  padding: 1rem;
}
.navUl a{
  text-decoration: none;
  color: var(--color-main)
}
.headerImg {
  max-width: 150px;
  background-color: var(--color-gradient);
  margin: 1rem;
}