@use '../core/variables' as var;
@use '../core/reset' as reset;

.headerImg{
  max-width: 150px;
  background-color: var(--color-gradient);
}
/*
header{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  background: linear-gradient(45deg, #00ff99, #ff00cc, #00ccff, #ff6600);
  color: black;
  height: 200px;
  position: relative;
}
  */
/*
header .logo{
  height: 90%;
  display:flex;
  align-items:center;
  margin-top: 20px;
  margin-bottom: 0;
  
}
header .logo img{
  height: 150px;
  width: auto;
  border-radius: 5%;
}
header .titulo h1{
  font-size: 36px;
  font-weight: bold;
  color: inherit;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
  margin: 0;
  text-align: center;
  margin-bottom: 20px;
}
header .titulo a{
  text-decoration: none;
  color: white;
}
//nav-bar

nav{
  //position:fixed;
  //top:200px;
  left:0;
  width:200px;
  background-color: #333;
  height: 100vh;
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  
}
nav ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  display:flex;
  flex-direction: column;
  gap: 10px
}
nav ul li{
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #555;
  display: list-item;
  list-style: none;
  font-size: 1rem;
  margin: 0 15px;
}
nav ul li a{
  color: white;
  text-decoration:none;
  font-size: 18px;
  display: block;
}
nav ul li:last-child {
  border-bottom: none;
}
nav a:hover{
  background-color: #F7E360;
  color: black;
  border-radius: 45%;
}
*/