
<section id="hero">
  <h3 id="subcribe">If you want to be updated, please leave your email below</h3>
  <form id="form" method="post" action="https://www..com/email-submit">
    <input 
    id="email" 
    name="email" 
    type="email" 
    placeholder="Thank you for being part of the crew!"
    />
    <input id="submit" 
    type="submit" 
    value="Update me!"
    class="btn"
    />
  </form>
</section>
    <div class="title">
      <h1>
        <a 
        target="_blank"
        href="https://www.instagram.com/boasvibrasoficial">
        @boasvibrasoficial
        </a></h1>
    </div>