<header>
  <div>
  <img
  class="headerImg js_headerImg" 
  src="/logoTransparent.png"
  alt="Boas Vibras logo"/>
  </div>

  <nav class="nav js_nav" id="navBar">
    <ul class="navUl js_navUl">

      <li class="nav-products js_products" id="products">
        <a class="nav-link" href="#products">Productos</a>
      </li>
      <li class="nav-more-about js_moreAbout" id="moreAbout">
        <a class="nav-link" href="#moreAbout">Conócenos</a>
      </li>
      <li class="nav-social-media js_socialMedia" id="socialmedia">
        <a class="nav-link" href="#socialmedia">¡Síguenos!</a>
      </li>
      <li class="nav-contact js_contact" id="contact">
        <a class="nav-link" href="#contact">Contacto</a>
      </li>
      
    </ul>
  </nav>
</header>

