  <header>
    <div class="logo">
      <img
      class="header-img" src="/images/Logo/BoasVibras-negro-transparente.png"
      alt="Boas Vibras logo">
    </div>
    <div class="titulo">
      <h1>
        <a 
        target="_blank"
        href="https://www.instagram.com/boasvibrasoficial">
        @boasvibrasoficial
        </a></h1>
    </div>
    <nav id="nav-bar">
      <ul>
        <li>
          <a class="nav-link" href="#">Productos</a>
          </li>
        <li>
          <a class="nav-link" href="#">Conócenos</a></li>
        <li>
          <a class="nav-link" href="#">Contacto</a></li>
        <li>
          <a class="nav-link"
          href="#">¡Síguenos!</a></li>
      </ul>
    </nav>
</header>

