<main>
  <div class="intro js_intro">
    <h2>Bienvenido a Boas Vibras, una marca que nace con la ilusión de crear una marca de ropa auténtica, desde el cariño y con mucho flow.
    </h2>
  </div>
  <div class="products js_products" id="products">
    <h3>¡Échale un vistazo a nuestros productos!</h3>
    <div class="carousel js_carousel">
      <div class="carousel-track js_carouselTrack">
        <img class="carousel-slide js_carouselSlide" src="/product1.jpeg" alt="" id="1"/>
        <img class="carousel-slide js_carouselSlide" src="/product2.jpeg" alt="" id="2"/>
        <img class="carousel-slide js_carouselSlide" src="/product3.jpeg" alt="" id="3"/>
        <img class="carousel-slide js_carouselSlide" src="/product4.jpeg" alt="" id="4"/>
        <img class="carousel-slide js_carouselSlide" src="/product5.jpeg" alt="" id="5"/>
      </div>
      <button class="carousel-btn js_carouselBtnLeft js_carouselBtn"></button>
      <button class="carousel-btn js_carouselBtnRight js_carouselBtn"></button>

      <div class="carousel-dots js_carouselDots"></div>
    </div>
    
  </div>
  <div class="more-about js_moreAbout" id="moreAbout">
    <h3>¿Quieres sabes más sobre Boas Vibras?</h3>
    <p>¿Estás cansado de comprar ropa de baja calidad que no te representa? Nosotros sí.</p>
  </div>
  <div class="socialmedia js_socialMedia" id="socialmedia">
    <h3>¡Síguenos!</h3>  
    <p>En Instagram</p>
  </div>
  <div class="contact js_contact" id="contact">
    <h3>¿Quieres contactar con nosotros?</h3>
    <fieldset>
      <form>
        <label>
          <legend>Rellena este formulario y te contestaremos en un plazo de 72h</legend>
          <input type="text">Nombre y apellidos
          <input type="text"> email
          <input type="text"> comentarios
        </label>
      </form>
    </fieldset>
    <h3>¿Quieres estar al día con todas nuestras novedades?</h3>
    <fieldset>
      <form>
        <label></label>
        <legend>Introduce tu email para recibir nuestro newsletter</legend>
        <input>email
      </form>
    </fieldset>
  </div>

</main>