<main>
  <div class="intro">
  <div>
    <h1>¿Qué pasa gente?</h1>
    <p>Échale un ojo a nuestros productos</p>
  </div>
  <div>
    <p>by DAS</p>
  </div>
  <div class="icon">
    <a href="https://www.instagram.com/acevedo_biker/>" target="_blank">
    <i class="fab fa-instagram"></i></a>
  </div>
</div>

 Boas Vibras nace con la ilusión de crear una marca de ropa auténtica, desde el cariño y con mucho flow.
<div class="container">
<section id="features">
  <div class="grid desc">
    <h2 id="philosophy">Philosophy</h2>
    <p class="philosophy-text">Are you tired of low quality clothes that doesn't represent you? We are!</p>
  </div>
  <div class="grid desc">
    <h2 id="products">Products</h2>
    <p class="product-text"></p>
    <div class="gallery">
    <img src="C:\Users\marta\Programación\Boas Vibras\5.jpeg" alt="blue beanie">
    <img src="C:\Users\marta\Programación\Boas Vibras\6.jpeg" alt="matching t-shirts">
    <img src="C:\Users\marta\Programación\Boas Vibras\7.jpeg" alt="black beanie">
    <img src="C:\Users\marta\Programación\Boas Vibras\3.jpeg" alt="more products">
  
    </div>
  </div>
  <div class="grid desc">
    <h2 id="contact">Contact</h2>
    <p class="contact-text">If you want to contact us, please write to <a href="https://www.instagram.com/boasvibrasoficial" _blank>@boasvibrasoficial</a></p>
    <ol class="lists">
      <li class="list-subtitle"></li>
    </ol>
  </div>
  </section>
  
<section id="t-shirt">
  <video id="video"
  src="https://www.instagram.com/reel/CxdTJzRoRni/?igsh=bnIxeTN5MGQ1bjEx"
  frameborder="0"
  alt="take a look at this t-shirt!">
  <figcaption>take a look at this t-shirt in our instagram's page!</figcaption>
</section>

<section id="hero">
  <h3 id="subcribe">If you want to be updated, please leave your email below</h3>
  <form id="form" method="post" action="https://www..com/email-submit">
    <input 
    id="email" 
    name="email" 
    type="email" 
    placeholder="Thank you for being part of the crew!"
    />
    <input id="submit" 
    type="submit" 
    value="Update me!"
    class="btn"
    />
  </form>
</section>
</div>
</main>