@use 'core/reset';
@use 'core/variables' as vars;
@use 'components/code';
@use 'components/links';
@use 'layout/page';
@use 'layout/header';
@use 'layout/footer';
@use 'pages/index';

//@import 'https://fonts.googleapis.com/css?family=Lato:400,700';
.products img {
  max-width:150px;
  max-height: 150px;
}
body{
  background-color: var(--color-bg)
}
.intro{
  text-align: center;
  margin: 1rem;
}
.products{
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
.carousel {
  width: 100%;
  max-width: 600px;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  position: relative;
}
.carousel-slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}
.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 16px;
  font-size: 28px;
}