@use 'core/reset';
@use 'core/variables' as vars;
@use 'components/code';
@use 'components/links';
@use 'layout/page';
@use 'layout/header';
@use 'layout/footer';
@use 'pages/index';

//@import 'https://fonts.googleapis.com/css?family=Lato:400,700';
.products img {
    max-width:150px;
    max-height: 150px;
}
body{
    background: var(--color-gradient);
}